 /*paleta de colores
 #545A68 oscuro
 #80A9BA
 #2D787F base
 #6C5E72
 #009B72 claro
 */


html{
    font-family: 'Boogaloo', cursive;
}

.content{
    /* max-width: 960px;
    max-height: 600px;
    width: 100%;
    height: 100%; */
    height: 85vh;
    width: 85vw;
    background-color:#AEB7B3;
    overflow: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16) , 0 3px 6px rgba(0,0,0,0.23);
    position: relative;
    padding: 0.5em;
    border-radius: 5px;
}

.container{
  background: #642B73;  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right, 
    #C6426E,
    #642B73
  );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
     #C6426E,
     #642B73
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      height: 100vh;
      display: flex;
      align-items:center;
      justify-content: center;
}
.table {
    width: 100%;
    border-spacing: 0;
}
.table td, 
.table th {
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even){
    background-color: #9b87f2;
}

td:nth-of-type(1){
    font-size: 1.5em;
    color: #642B73;
}

th{
    display:none;
}
td{
    display:block;
    text-align: left;
}

.fa-star{
    color:yellow
}


.center{
    text-align: center;
}
.underline{
  border-bottom:solid 5px #642B73;
  padding-bottom: 20px;
}
.position{
    background-color: #C6426E;
    padding: 10px;
    border-radius: 4px;
    margin-left: 5px;
}


.actions{
    position: sticky;
    top:1em;
    left: 1em;
    display: flex;
    justify-content: flex-end;
}

.close {
    height: 40px;
    width: 40px;
    color: white;
    background-color: #C6426E;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16) , 0 3px 6px rgba(0,0,0,0.23);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
 text-decoration: none;   
}

.title{
    text-transform: uppercase;
    text-align:center; 
}

.title-item{
    font-size: 0.8em;
    text-transform: uppercase;  
}

.item-image{
    display:none;
}

iframe{
    width: 75vw;
}



.prueba{
    background-color: #F489F9;
}

@media(min-width:600px){
    th{
        display:table-cell;
    }
    td{
        display:table-cell;
    }
    td:nth-of-type(1){
        font-size: 1.5em;
        color: black;
    }
    .content{
     width: 70vw;
     height: 75vh;
     padding: 1.8em;
    }
    .item-image{
        display:inline-block;
    }
    iframe{
        height: 225px;
        width: 430px;
    }
    img{
        width: 450px;
    }
    .inline{
     display: inline-block;  
    } 
    .actions{
    position: absolute;
    top:1em;
    right: 1em;
    } 
    .title-item{
        font-size: 1.5em;
        text-transform: uppercase;  
    }
    .title {
        animation-duration: 2s;
        animation-name: slide;
        animation-iteration-count: infinite;
        background: #69DDFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right, 
    #96CDFF,
    #D8E1FF
  );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
     #DBBADD,
     #BE92A2
    );
      }
      @keyframes slide {
        from {
          margin-left: 100%;
          width: 300%; 
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }
}
